.userSelectedModal{
    display: flex;
    flex-direction: column;
}

.username{
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.userAvatar{
    margin: 2rem auto

}

.userAvatar img {
    width: 100%;
    height: 100%;
    max-width: 40rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 50%;
}

.createdAt{
    text-align: center;
    
}

.createdAt h2{
    font-size: 2rem;
    margin: 0;
}

.createdAt span {
    font-size: 1.8rem;
}