.dropzone {
    /* border: 1px dashed #ccc; */
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: center;
    height: 300px;
}

.fileList {
list-style: none;
}


.fileList img {
    width: 10rem;
    border-radius: 50%;
    height: 10rem;
    object-fit: cover;
}